@import url(common.css);

.header__sec {
    background-color: var(--title-dark-color);
}

.header-content {
    width: 85%;
    height: auto;
    padding: 50px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 218px;
}

.header-content ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.header-content ul li a {
    text-decoration: none;
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.header-content .nav__list-btn .nav__list-link {
    font-size: 12px;
    background: var(--button-bg-color);
    padding: 6px 27px;
    border-radius: 14px;
}

.header-content .nav__list-btn .nav__list-link:hover {
    background: var(--button-hover-color);
    transition: 0.5s;
}

/* .header-content ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: var(--button-bg-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.header-content ul li:hover::after {
    width: 100%;
} */

.footer {
    background-color: var(--title-dark-color);
}

.footer__content {
    padding: 90px 15px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__content-logo {
    width: 260px;
}

.footer__working-hours,
.footer__nav-list,
.follow_us {
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.follow_us__sotial-links {
    display: inline-block;
}

.footer__nav-list ul li {
    list-style: none;    
}

.footer__nav-list ul li a {
    text-decoration: none;
    color: var(--title-base-color);
}

.footer__nav-list ul li a:hover {
    color: var(--button-bg-color);
}

.special-divider {
    width: 100%;
}

.copyright {
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.copyright-content-item {
    padding: 20px 0;
}
