@import url(common.css);

.header__sec {
    background-color: var(--title-dark-color);
}

.header-content {
    width: 85%;
    height: auto;
    padding: 50px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 218px;
}

.header-content ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.header-content ul li a {
    text-decoration: none;
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.header-content .nav__list-btn .nav__list-link {
    font-size: 12px;
    background: var(--button-bg-color);
    padding: 6px 27px;
    border-radius: 14px;
}

.header-content .nav__list-btn .nav__list-link:hover {
    background: var(--button-hover-color);
    transition: 0.5s;
}

/* .header-content ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: var(--button-bg-color);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.header-content ul li:hover::after {
    width: 100%;
} */

.footer {
    background-color: var(--title-dark-color);
}

.footer__content {
    padding: 90px 15px 30px;
    display: flex;
    justify-content: space-between;
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.footer__nav-list ul {
    list-style: none;
}

.footer__nav-list ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__nav-list ul li a{
    text-decoration: none;
    color: var(--title-base-color);
    display: block;
}

.footer__nav-list ul li a:hover {
    color: var(--button-bg-color);
    transition: all 0.4s ease;
}

.footer__content-logo {
    width: 75%;
    margin-bottom: 30px;
}

.follow_us-text {
    margin-bottom: 25px;
    text-align: right;
}

.follow_us__sotial-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--title-base-color);
    transition: all 0.5s ease;
}

.follow_us__sotial-links a:not(:last-child) {
    margin: 0 10px 10px 0;
}

.follow_us__sotial-links a:hover {
    color: var(--title-dark-color);
    background-color: var(--title-base-color);
}

.special-divider {
    width: 100%;
}

.copyright {
    color: var(--title-base-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.copyright-content-item {
    padding: 20px 0;
}
